#nome-empresa{
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-left: 40%;
    margin-bottom: 50px;
}


.empresa-container{
    height: auto;
}

.visible-elements{
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.painel-vagas{
    height: auto;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(207, 203, 203);
    padding: 50px;
}

.vaga-renderizada{
    height: auto;
    width: auto;
    background-color: aliceblue;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#p-titulo-vaga{
    height: auto;
    width: auto;
}
#p-cargo-vaga{height: auto;
    width: auto;
    font-size: 25px;
}
#p-descricao-vaga{height: auto;
    width: auto;
    font-size: 20px;
}